body {

  background-color: #c9d1d3;
}

hr{

  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}

.bottom{
  border-style: inset;
  border-width: thin;
  height: 15px;
  width: 0;

}
.top{
  border-style: none inset none none ;
  border-width: thin;
  height: 15px;
}

h1{
  color: #574f7d;
}

h2{
  color:#574f7d;
  text-align: center;
}

h3{
  color: #f7be16;
  text-align: center;
}

p{
  color: brown;
}

img{
  width: 300px;
  border-radius: 50%;
}

.fa-dizzy{
  color: yellow;
}
.fa-flushed{
  color: red;
}
.fa-grin-stars{
  color: green;
}
.fa-grin-tongue-squint{
  color: blue;
}
